/* #########################################
 * GLOBALS
 * ######################################### */
:root {
  --bg1: #1d2021;
  --bg2: #282828;
  --bg3: #3c3836;
  --font: #fbf1c7;
  --link: #d79921;
  --grad1: linear-gradient();
}

html {
  background-color: var(--bg2);
  color: var(--font);
  font: 1rem /1.5 monospace;
}

/* #########################################
 * BODY
 * ######################################### */
body {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* #########################################
 * "PAGE" STYLE
 * ######################################### */
#page {
  background-color: var(--bg2);
}

@media (max-width: 1080px) {
  #page {
    width: 100%;
  }
}

@media (min-width: 1080px) {
  #page {
    width: 1080px;
  }
}

/* #########################################
 * HEADER
 * ######################################### */
header {
  background-color: var(--bg2);
}

header > div {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 2em;
}

/* #########################################
 * HEADER BUTTONS
 * ######################################### */
.headerbtn {
  color: var(--link);
  text-decoration: none;
}

#logoimg {
  padding: 0;
  margin: 0;
  width: 1.5em;
  height: 1.5em;
}

/* #########################################
 * MAIN CONTENT
 * ######################################### */
main {
  margin: 1em 5em;
  padding: 1em;
}

@media (max-width: 40em) {
  main {
    margin: 1em 0em;
  }
}

/* #########################################
 * FOOTER
 * ######################################### */
footer {
  background-color: var(--bg2);
}

footer > div {
  padding: 1em;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*footer > div{
  clear: both;
  width: auto;
  height: auto;
  padding: 1em;
  margin: 0;
}*/

footer p {
  margin: 0;
  padding: 0;
}

#scrollToTopBtn {
  color: var(--link);
  background-color: var(--bg2);
  border-radius: 4px;
  border: none;
}
#scrollToTopBtn:hover {
  background-color: var(--bg3);
}

/* #########################################
 * PROJECT PAGE
 * ######################################### */
.projectsbox {
  background-color: var(--bg3);
  padding: 1em;
  margin: 1em 0em;
}
.projectlink {
  color: currentcolor;
  text-decoration: none;
}
.projectimg {
  width: 10%;
  height: 10%;
  object-fit: contain;
}

/* #########################################
 * BLOGS PAGE
 * ######################################### */

.blogpage img,
.projectpage img {
  /*width: 25em;
  max-width: 90%;
  height: 15em;
  object-fit: contain;*/
  
  margin: 1em 0;
  display: block;
  width: 30em;
  max-width: 90%;
  object-fit: contain;
}

.date {
  float: right;
  padding: 0;
  margin: 0;
  text-align: end;
  font-style: italic;
}

.blog img {
  margin: 1em 0;
  display: block;
  width: 30em;
  max-width: 90%;
  object-fit: contain;
}

/* #########################################
 * IMAGE FORMATS
 * ######################################### */

.blog .square-image {
  width: 30em;
  max-width: 90%;
  height: 30em;
  max-height: 90%;
  object-fit: cover;
}

/* #########################################
 * ELEMENTS
 * ######################################### */

aside {
  padding: 0.1em 1em;
  background-color: var(--bg1);
  font-style: italic;
  opacity: 0.5;
}

a {
  color: var(--link);
}

hr {
  padding: 0;
  margin: 0;
  border: none;
  height: 2px;
  color: var(--bg3);
  background-color: var(--bg3);
}
